.tab-enter {
  opacity: 0;
  height: 0;
  transform: translateX(400px);
}

.tab-enter-reverse {
  opacity: 0;
  height: 0;
  transform: translateX(-400px);
}

.tab-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
  transition-delay: 300ms;
}

.tab-enter-done {
  height: 100%;
}

.tab-exit {
  opacity: 1;
}
.tab-exit-active {
  opacity: 0;
  height: 0;
  transform: translateX(-400px);
  transition: opacity 300ms, transform 300ms;
}

.tab-exit-active-reverse {
  opacity: 0;
  height: 0;
  transform: translateX(400px);
  transition: opacity 300ms, transform 300ms;
}
